* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.glassmorphism-container {
    background: rgba(255, 255, 255, 0.1); /* Adjust the alpha value to change transparency */
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


  
.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 80px;
}

.left-side {
    margin-left: 90px;
    width: 45%;
    height: 80%;
    background: linear-gradient(to top, #FFCFC0, #F1E3C8); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    color: #393D32;
    padding: 0 20px; 
}

.right-side {
    margin-right: 90px;
    width: 55%;
    height: 80%;
    position: relative; 
    overflow: hidden;
}

.text {
    margin-left: 30px;
    margin-top: 10px;
    text-align: left; 
}

.text p {
    margin-left: 30px;
    margin: 2px;
    font-size: 60px;
}

.buttons {
    margin-top: 10px;
}

.transparent-button1 {
    margin-left: 30px;
    background-color: #BCB19B;
    border: 2px solid transparent; 
    color: #FFE0D6;
    padding: 10px 20px;
    cursor: pointer;
}

.transparent-button1:hover {
    background-color: #000;
    color: #fff;
}

.transparent-button2 {
    margin-left: 30px;
    background-color: transparent;
    border: 2px solid #000; 
    color: #000;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.transparent-button2:hover {
    background-color: #000;
    color: #fff;
}

.textmid {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.video {
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover; 
}

.second-container
{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.column {
    padding: 20px;
    width: 33%;
}

h1 {
    color: #F1E3C8;
    margin-left: 50px;
}

.subtext {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    color: #F1E3C8;
    font-size: 20px;
    margin-left: 50px;
}

.meet-tutors-button {
    margin-left: 50px;
    background-color: #F1E3C8;
    border: 2px solid #F1E3C8;
    color: #393D32;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.meet-tutors-button:hover {
    background-color: #393D32;
    color: #F1E3C8;
}


.row {
    display:flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.row-heading {
    color: #F1E3C8;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px; 
}

.row-image {
    width: 250px; 
    height: auto; 
}

.row-text {
    font-weight: bold;
    color: #F1E3C8;
    font-size: 12px;
    width: 240px;
    justify-content: flex-start;
    margin-top: 10px; 
}

.h1-text
{
    color: #F1E3C8;
    margin-left: 60px;
    font-size: 40px;
    margin-top: 125px;
    margin-bottom: 20px;
}

.subtext-footer {
    margin-left: 60px;
    color: #F1E3C8;
    font-size: 25px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 20px; 
}

.column-footer {
    margin-left: 50px;
    width: 50%; 
}

.column-footer-1 {
    margin-left: 50px; 
    width: 50%; 
    margin-right: 150px;
    margin-top: 50px;
}

.carousel {
    width: 50%; 
    margin-right: 200px; 
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
}

.column-footer-2 {
    margin-left: 50px; 
    width: 50%; 
    margin-right: 100px;
    margin-top: 125px;

}

.h1-text-2
{
    color: #F1E3C8;
    margin-left: 60px;
    font-size: 40px;
}

.h1-text-3
{
    color: #F1E3C8;
    margin-left: 60px;
    font-size: 40px;
    margin-bottom: 20px;
}

.footer-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
}

.introduction-call {
    margin-top: 30px; 
    margin-left: 60px;
  }
  
.introduction-call-button {
    background-color: transparent;
    border: 3px solid #F1E3C8;
    color: #F1E3C8;
    padding: 10px 20px;
    cursor: pointer;
}
  
.introduction-call-button:hover {
    background-color: #F1E3C8;
    color: #393D32;
}
  
.column-footer-3 {
    margin-left: 50px; 
    width: 50%; 
    margin-right: 150px;
    margin-top: 50px;
}

.column-footer-3 form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-top: 80px;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  
  label {
    margin-right: 10px;
    font-weight: bold;
    color: #F1E3C8;
    font-size: 25px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #F1E3C8;
    outline: none;
  }
  
  .Submit-button {
    background-color: transparent;
    border: 3px solid #F1E3C8;
    color: #F1E3C8;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .Submit-button:hover {
    background-color: #F1E3C8;
    color: #393D32;
  }
  

  .thanks
  {
    margin-right: 10px;
    color: #F1E3C8;
    font-size: 20px;
  }

.column-footer-4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin-right: 150px; 
}

.footer-column-2 {

    flex: 1;
    margin-right: 150px; 

}
.footer-column-3 {
    flex: 1;
    margin-right: 150px; 
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F1E3C8;
    margin-top: 125px;
    margin-bottom: 20px;

}

.footer-column p {
    margin-top: 5px;
    font-size: 14px;
    color: #F1E3C8;
}

.footer-column-2 h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F1E3C8;
    margin-top: 125px;
}

.footer-column-2 p {
    margin-top: 5px;
    font-size: 14px;
    color: #F1E3C8;
}

.footer-column-3 h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F1E3C8;
    margin-top: 125px;
    margin-bottom: 20px;

}

.footer-column-3 p {
    margin-top: 5px;
    font-size: 14px;
    color: #F1E3C8;
}
