/* navbar.css */

/* Navbar container */
.navbar {
    color: #F1E3C8;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 24px;
    margin-left: 20px;
}

/* Navigation links */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #F1E3C8;
    text-decoration: none;
}

.nav-links li a.underline {
    text-decoration: underline;
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
}

/* Dropdown container */
.dropdown {
    position: relative;
}

/* Profile button */
.profile-button {
    background-color: transparent;
    border: none;
    color: #F1E3C8;
    cursor: pointer;
}

/* Profile icon */
.profile-icon {
    margin-right: 5px;
}

/* Dropdown content */
.dropdown-content {
    position: absolute;
    background-color: #333;
    min-width: 120px;
    right: 0;
    top: 30px;
    list-style-type: none;
    padding: 10px 0;
    border-radius: 5px;
    display: none;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li button {
    background-color: transparent;
    border: none;
    color: #F1E3C8;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

/* Login button */
.login-button {
    background-color: transparent;
    border: 1px solid #F1E3C8;
    color: #F1E3C8;
    padding: 5px 10px;
    cursor: pointer;
}

/* Profile link */
.profile-link {
    align-items: center; /* Align items vertically */
    text-decoration: none; /* Remove default link underline */
    color: #F1E3C8; /* Adjust color as needed */
}

/* Profile and down arrow icons */
.profile-icon,
.down-arrow-icon {
    display: inline-block; /* Make the icons inline-block */
    vertical-align: middle; /* Align icons vertically with text */
    margin-right: 5px; /* Adjust spacing between the icon and arrow */
}

/* Down arrow icon */
.down-arrow-icon {
    stroke-width: 2; /* Make the arrow solid */
}
