.navbar {
    color: #393D32;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #FFE0D6;
    text-decoration: none;
}

.nav-links li a.underline {
    text-decoration: underline;
}

/* Profile section */
.profile {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.profile-button {
    background-color: transparent;
    border: none;
    color: #F1E3C8;
    cursor: pointer;
}

.profile-icon {
    margin-right: 5px;
}

.dropdown-content {
    position: absolute;
    background-color: #333;
    min-width: 120px;
    right: 0;
    top: 30px;
    list-style-type: none;
    padding: 10px 0;
    display: none;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li button {
    background-color: transparent;
    border: none;
    color: #F1E3C8;
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
}

.login-button {
    background-color: transparent;
    border: 1px solid #F1E3C8;
    color: #F1E3C8;
    padding: 5px 10px;
    cursor: pointer;
}

.profile-link {
    align-items: center; 
    text-decoration: none; 
    color: #F1E3C8; 
}

.profile-icon,
.down-arrow-icon {
    display: inline-block;
    vertical-align: middle; 
    margin-right: 5px; 
}

.down-arrow-icon {
    stroke-width: 2;
}